/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/first-bg.png) no-repeat center scroll;
  background-size: cover;
}

/*iPhone 6 in portrait*/
@media screen and (max-device-width : 667px) and (orientation : portrait) {

  .christina {
    font: 52px Montserrat, sans-serif !important;
    font-weight: bold !important;
    text-align: left !important;
  }

  .cheng {
    font: 52px Montserrat, sans-serif !important;
    text-align: left !important;
    font-weight: bold !important;
    color: rgba(232, 232, 232, 0.56)!important;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .cheng {
    color: rgba(232, 232, 232, 0.56)!important;
  }
}


.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.normal-c
.dropbtn-c
{
  display: inline-block;
}
.normal-c {
  margin-left: 20px;
}
.normal-c,
.dropbtn-c
{
  padding: 14px 16px;
  font-weight: 400;
  font: 18px Montserrat, sans-serif;
  color: #fff; /* IE8 proofing */
  background-color: transparent;
  border: none;
  outline: 0px !important;
}

.normal-c:focus,
.normal-c:visited,
.normal-c:hover,
.normal-c:active {
  background-color: transparent;
  border-bottom-color: #fff !important;
  text-decoration: underline !important;
  outline: 0px !important;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

.christina {
  font: 80px Montserrat, sans-serif;
  font-weight: bold;
  color: #bababa;
  text-align: left;
}

.cheng {
  font: 80px Montserrat, sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
}

@media (min-width: 1024px) {
   {
    font: 80px Montserrat, sans-serif;
    font-weight: bold;
    color: #bababa;
    text-align: right;
    padding-right: 40px;
  }

  .cheng {
    font: 80px Montserrat, sans-serif;
    font-weight: bold;
    color: black;
    text-align: left;
  }

}
/**dropdown menu on nav bar**/
.dropdown-c {
    float: left;
    overflow: hidden;
}

.dropdown-c .dropbtn-c {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown-content-c {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
}

.dropdown-content-c a {
    float: none;
    font: 12px Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-c a:hover {
    font-weight: 700;
}

.dropdown-c:hover .dropdown-content-c {
    display: block;
}

.footer {
  position: fixed;
  display: none;
  bottom: 0;
  right: 35px;
}

.footer img {
  margin-bottom: 50px;
  padding-left: 15px;
}


/**for smartphones and tablets **/
@media (max-width: 767px) {
  .footer img {
    margin-bottom: 10px;
  }

}

.footer img:hover {
  background: black;
  opacity: 0.6;
}

.item img {
  margin: 0 auto;
  width: 700px;
  height: 500px;
}
