/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/first-bg.png) no-repeat center scroll;
  background-size: cover;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.normal-c
.dropbtn-c
{
  display: inline-block;
}
.normal-c {
  margin-left: 20px;
}
.normal-c,
.dropbtn-c
{
  padding: 14px 16px;
  font-weight: 400;
  font: 18px Montserrat, sans-serif;
  color: #fff; /* IE8 proofing */
  background-color: transparent;
  border: none;
}
.masthead-nav > button > a:hover,
.masthead-nav > button > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

.christina {
  font: 80px Montserrat, sans-serif;
  font-weight: bold;
  color: #bababa;
  text-align: right;
  padding-right: 40px;
}

.cheng {
  font: 80px Montserrat, sans-serif;
  font-weight: bold;
  color: black;
  text-align: left;
}

/**dropdown menu on nav bar**/
.dropdown-c {
    float: left;
    overflow: hidden;
}

.dropdown-c .dropbtn-c {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown-content-c {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
}

.dropdown-content-c a {
    float: none;
    font: 12px Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-c a:hover {
    font-weight: 500;
}

.dropdown-c:hover .dropdown-content-c {
    display: block;
}

.footer {
  position: fixed;
  display: none;
  bottom: 0;
  right: 35px;
}

.footer img {
  margin-bottom: 50px;
  padding-left: 15px;
}
